## Heatmaps for Weather Parameters

In [1]:
# Import the dependencies. 
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-03-31 20:17:20,-46.6000,168.3333,48.63,64,100,8.90
1,1,Ribeira Grande,PT,2022-03-31 20:17:17,38.5167,-28.7000,63.00,88,20,16.11
2,2,Carnarvon,AU,2022-03-31 20:17:21,-24.8667,113.6333,68.07,100,75,21.85
3,3,Dudinka,RU,2022-03-31 20:17:22,69.4058,86.1778,20.62,97,100,1.28
4,4,Mahebourg,MU,2022-03-31 20:17:22,-20.4081,57.7000,79.25,73,20,13.80

In [4]:
# Check data types of the DataFrame columns, 
# must be integers or floating-point decimal numbers to be used for gmaps.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# # The general syntax for creating a heatmap:
# # 1. Assign the locations to a array of the latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values. 
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute. 
# fig =gmaps.figure()
# # 4. Assign the heatmap_layer variabel to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer. 
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data. 
# fig

### Heatmap for Temperature

In [10]:
# # Get the maximum temperatures.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
# # or use list comprehension method instead of the For loop.
# # temps = [max(temp, 0) for temp in max_temp]

In [15]:
# Get the latitude and longitude. 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.  
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable and use list comprehension.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap for Percent Humidity

In [16]:
# Heatmap for percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap for Percent Cloudiness

In [17]:
# Heatmap for percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap for Wind Speed

In [19]:
# Heatmap for percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria from Customers

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Mahebourg,MU,2022-03-31 20:17:22,-20.4081,57.7000,79.25,73,20,13.80
5,5,La Libertad,EC,2022-03-31 20:17:23,-2.2333,-80.9000,83.86,74,0,13.80
11,11,Kahului,US,2022-03-31 20:17:27,20.8947,-156.4700,80.96,70,40,20.71
14,14,Nawa,IN,2022-03-31 20:17:29,27.0167,75.0000,78.12,8,0,8.41
21,21,Inhambane,MZ,2022-03-31 20:17:32,-23.8650,35.3833,76.73,86,0,8.93
22,22,Idah,NG,2022-03-31 20:17:33,7.1065,6.7342,89.46,46,96,7.34
23,23,Atuona,PF,2022-03-31 20:17:33,-9.8000,-139.0333,78.55,73,7,8.23
26,26,Rikitea,PF,2022-03-31 20:17:35,-23.1203,-134.9692,78.04,66,75,15.03
30,30,Tiarei,PF,2022-03-31 20:17:37,-17.5333,-149.3333,84.22,69,47,12.84
32,32,Rajgurunagar,IN,2022-03-31 20:17:37,18.8667,73.9000,77.34,23,2,7.63

In [27]:
# Determine if the preferred cities DataFrame has any null values. 
preferred_cities_df.count()

City_ID       171
City          171
Country       170
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [31]:
# Drop the rows containing null values.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

## Map Vacation Criteria

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4      Mahebourg      MU     79.25 -20.4081   57.7000
5    La Libertad      EC     83.86  -2.2333  -80.9000
11       Kahului      US     80.96  20.8947 -156.4700
14          Nawa      IN     78.12  27.0167   75.0000
21     Inhambane      MZ     76.73 -23.8650   35.3833
22          Idah      NG     89.46   7.1065    6.7342
23        Atuona      PF     78.55  -9.8000 -139.0333
26       Rikitea      PF     78.04 -23.1203 -134.9692
30        Tiarei      PF     84.22 -17.5333 -149.3333
32  Rajgurunagar      IN     77.34  18.8667   73.9000

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try :
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mahebourg,MU,79.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
5,La Libertad,EC,83.86,-2.2333,-80.9000,Playa Canela Hotel Boutique
11,Kahului,US,80.96,20.8947,-156.4700,Maui Seaside Hotel
14,Nawa,IN,78.12,27.0167,75.0000,"Sambharia Bhawan,Kuchaman Road,Nawa City"
21,Inhambane,MZ,76.73,-23.8650,35.3833,Oceano

In [46]:
# Create a maximum temperature heatmap from a hoter DataFrame.
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))